@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
      /* @apply border border-dashed border-[tomato] */
  }

  .primary-btn {
    @apply bg-primary text-white cursor-pointer hover:bg-primary/80 px-4 py-2 rounded-lg my-3
  }

  .outline-btn {
    @apply ring-2 ring-primary inset-0 text-primary cursor-pointer duration-200 hover:bg-primary hover:text-white px-4 py-2 rounded-lg my-3
  }  
}